/* CSS REFERENCE: http://getbootstrap.com/css/ */

body { margin: 1em; }

#rendered_text {
    width: 100%;
    max-width: 600px;
    height: 600px;;
    overflow-y: auto;
}

.container{
  height: 100%;
}
