/* CSS REFERENCE: http://getbootstrap.com/css/ */

body { 
    
    margin: 1em;
    /* font-size: 2em; */

}

#rendered-text {
    width: 100%;
    max-width: 800px;
    height: 800px;
    overflow-y: auto;
    font-size: 1.125em;
}

#edit-text {
    
  font-size: 1.125em;  
}

/* Adjust font-size in table of contents */
.toc-item a {
    font-size: 1.125em !important;
}

.toc-item p {
    margin:0 !important;
}

.container{
  height: 100%;
}

/* Needed to correct asciidoc text 
size problem when bootstrap.css
is loaded after asciidoctor.css
*/
p {
    font-size: 1em;
}

.floating-box {
    display: inline-block;
    width: 60px;
    height: 20px;
    margin: 10px;
    font-size: 1em;
    vertical-align: middle;
}

  label.radio 
    {
      font: normal 1.4em courier !important;
      margin-right: 1em;
    }

    .radio input
    {
      display: inline-block;
      vertical-align: middle;
    }

.search-box {
    
    width: 250px;
    height:30px;
    font-size: 1.35em;
    
}

.input-box {
    
    width: 250px;
    height:30px;
    font-size: 1.35em;
    
}

.check-box-label {
    
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 10px;
    font-size: 1em;
    vertical-align: middle;
    padding-left: 0.75em;
    padding-top: 0.5em;
    font-size: 1.25em;   
    
}

.check-box {
    
    height: 28px;
    vertical-align: middle;
}

p { font-size: 1.25em; }


