<div class="row">

  <div class="col-md-4" >
    <div style="margin-left:2em;">

    <h3> Contents ({{ docArray.length }}) </h3>
    <br />
    <div id="toc">
        <p class="toc-item " ng-repeat="doc in docArray" ng-style="docStyle(doc)"><i ng-show="hasSubdocument(doc)" class="fa fa-caret-right">&nbsp;</i><a href="{{doc['url']}}?toc"><span style="font-weight:bold">{{author(doc)}}</span>{{doc['title']}}</a></p>
    </div>

    </div>
  </div>

  <div class="col-md-8">
    <div style="margin-left:1em;">
        <h3 style="margin-left:20px">
            <a ng-hide="hideParent" ng-click="goUp()" ng-href="documents/{{parentId}}?toc">{{ parentTitle }}</a>
        </h3>
        <h2 style="margin-left:20px"> {{ title }} </h2>
        <br/>

        <div ng-show="textKind" class="container fill">
          <div elem-ready="reloadMathJax()" ng-bind-html="renderedText()" id="rendered-text"></div>
          <!-- <div elem-ready="reloadMathJax()"  id="rendered-text">{{title}}</div> -->
        </div>

        <div ng-show="imageKind" class="container fill">
          <img src="{{attachmentUrl}}" />
        </div>

        <div ng-show="pdfKind" class="container fill">
            <p><a ng-href="{{attachmentUrl}}" target="_blank">Link</a></p>
            <iframe id="pdf-iframe" src={{attachmentUrl}} style="width:700px; height:900px;"> <p>Your browser does not support iframes.</p>
            </iframe>

        </div>

    </div>

  </div>

</div>
