<div clase="container fill">

<div class="row">

    <div class="col-md-3">
        <div style="margin-left:2em;">

            <h3 ng-click="hotList()" ng-style="tocTitleClass()"> {{tocTitle}} ({{ docArray.length }}) </h3>
            <br/>
            <div id="toc">
                <p class="toc-item " ng-click="activateContentsHeading()" ng-repeat="doc in docArray"
                   ng-style="docStyle(doc)"><i ng-show="hasSubdocument(doc)" class="fa fa-caret-right">&nbsp;</i><a
                        href="{{doc['url']}}?toc"><span style="font-weight:bold">{{author(doc)}}</span>{{doc['title']}}</a>
                </p>
            </div>

        </div>
    </div>

    <div class="col-md-9">
        <div style="margin-left:1em;">
            <div class="container fill">
            <h3>
                <a ng-hide="hideParent" ng-click="activateContentsHeading()" ng-href="documents/{{parentId}}?toc">{{
                    parentTitle }}</a>
            </h3>
            <h2> {{ title }} </h2>
            <br/>
            </div>

            <div ng-show="textKind" class="container fill">
                <div elem-ready="reloadMathJax()" ng-bind-html="renderedText()" id="rendered-text"></div>
                <!-- <div elem-ready="reloadMathJax()"  id="rendered-text">{{title}}</div> -->
            </div>

            <div ng-show="imageKind" class="container fill">
                <img src="{{attachmentUrl}}"/>
            </div>

            <div ng-show="pdfKind" class="container fill">
                <p><a ng-href="{{attachmentUrl}}" target="_blank">Link</a></p>
                <iframe id="pdf-iframe" src={{attachmentUrl}} style="width:700px; height:900px;"><p>Your browser does
                    not support iframes.</p>
                </iframe>

            </div>

        </div>

    </div>



</div>

<div class="row">

    <div style=" width:95%; margin-left: 4rem; margin-right: 4rem;  padding: 0.5rem; background-color: #eee">
        <span style="margin-left:1rem; font-size: 1.3rem; color=#444">ID: {{documentId}}</span>
        <span ng-show="isPublic" style="margin-left: 2em;"> <a href="{{shareDocumentUrl}}" target="_top">Share Document</a> </span>
    </div>

</div>

</div>
