<div class="row">

    <div class="col-md-2">
        <div style="margin-left:1em;">


            <h3> Contents ({{ documentCount }})</h3>

            <!-- <div ng-show="ifParentExists&&showTools"> -->
            <div ng-show="ifParentExists">
                <button title="Move up" ng-click="moveUp()"
                        style="background-color:#666; color:white; padding:5px 10px; font-size:1.2em;"><i
                        class="fa fa-arrow-up"></i>
                </button>
                <button title="Move down" ng-click="moveDown()"
                        style="background-color:#666; color:white; padding:5px 10px; font-size:1.2em;"><i
                        class="fa fa-arrow-down"></i>
                </button>
            </div>
            <div>
                <button title="Document tools"
                        style="margin-top:8px;background-color:#aaa; color:white; padding:5px 10px; font-size:1.2em;"
                        ng-click="toggleParameterEditor()"><i class="fa fa-cog"></i></button>
                <button title="Make backup"
                        style="margin-top:8px;background-color:#aaa; color:white; padding:5px 10px; font-size:1.2em;"
                        ng-click="backupDocument()"><i class="fa fa-save"></i></button>
                <button title="Check out/in" ng-style="checkoutButtonClass()"
                        style="margin-top:8px; color:white; padding:5px 10px; font-size:1.2em;"
                        ng-click="toggleCheckoutDocument()"><i class="fa fa-check"></i></button>
                <span style="margin-left:0.3em;">{{checkedOutMessage}}</span>
                <p style="font-size:0.95em;margin-bottom:0; margin-top:5px;"> <a ui-sref="backupmanager(backupDocumentId())">User backups: {{lastBackupNumber}}</a></p>
                <p style="font-size:0.75em">{{lastBackupDate}}</p>
            </div>

            <br/>
            <br/>

            <p class="toc-item" ng-repeat="doc in docArray" ng-style="docStyle(doc)"><a
                    ng-href="editdocument/{{doc['id']}}">{{doc['title']}}</a></p>

        </div>
    </div>

    <!-- SOURCE TEXT -->
    <div class="col-md-5">
        <div>


            <!-- EDITOR SETTINGS -->
            <div ng-show="showTools" style="margin-left:40px;background-color:#eee;">


                <div class="row editor-row" style="background-color:#ddd">

                    <div>
                        <div class="col-md-8">
                            <label class='check-box-label' ng-style="publicStyle()" for="publicCheckbox">Public</label>
                            <input class='floating-box check-box' id="publicCheckbox" type="checkbox"
                                   ng-model="statusPublic" ng-click="updateDocument()"/>
                            <br>
                            <p style="margin-left:5px;">ID: {{documentId}}</p>
                        </div>


                        <div class="col-md-4">
                            <li style="margin-top:0; list-style-type:none">
                                <div>
                                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                                        <button id="single-button" type="button" class="btn" uib-dropdown-toggle
                                                ng-disabled="disabled">
                                            Doc format <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                            aria-labelledby="single-button">
                                            <li role="menuitem" ng-click="setKind('text')"
                                                ng-style="getDocKindClass('text')">Text
                                            </li>
                                            <li role="menuitem" ng-click="setKind('asciidoc')"
                                                ng-style="getDocKindClass('asciidoc')">Asciidoc
                                            </li>
                                            <li role="menuitem" ng-click="setKind('asciidoc-ms')"
                                                ng-style="getDocKindClass('asciidoc-ms')">Asciidoc-MS
                                            </li>
                                            <li role="menuitem" ng-click="setKind('asciidoc-latex')"
                                                ng-style="getDocKindClass('asciidoc-latex')">Asciidoc-LaTeX
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </li>

                        </div>


                    </div>
                </div>

                <div class="row editor-row" style="margin-top:0; background-color:#eee;">
                    <div class="col-md-2">
                        <label class="editor-label">Tags</label>
                        <label class="editor-label">Identifier</label>
                        <label class="editor-label">Type</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" ng-model="tags" placeholder="tags" style="width:100%">
                        <input type="text" ng-model="identifier" placeholder="identifier" style="width:100%">
                        <input type="text" ng-model="kind" placeholder="kind" style="width:100%">
                        <button ng-click="setParams()"
                                style="float:right; background-color:#666; color:white; padding:5px 10px; font-size:1.2em;">
                            Update
                        </button>
                    </div>
                </div>


                <div class="row editor-row" style="background-color:#ddd;">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-6">
                        <label class="editor-label">Attach as child of</label> <input type="text" ng-model="childOf"
                                                                                      placeholder="123"
                                                                                      style="margin-left:10px;width:50px;"><br/>
                        <!--<label class='check-box-label'  for="detachCheckbox">Detach from parent </label> -->
                        <!-- <input class='floating-box check-box' id="detachCheckbox" type="checkbox" ng-model="detachFromParent" ng-click="" />  -->
                        <label class="editor-label">Attach as sibling of</label> <input type="text" ng-model="siblingOf"
                                                                                        placeholder="456"
                                                                                        style="width:50px;"><br/>
                    </div>
                    <div class="col-md-2">
                        <br/><br/>
                        <button ng-click="attachDocument()"
                                style="float:right;margin-right:0px;text-outline: none;0px;background-color:#666; color:white; padding:5px 10px; font-size:1.2em;">
                            Attach
                        </button>
                    </div>


                </div>

                <div class="row editor-row" style="background-color:#eee;">

                    <h4 ng-show="showBackup">Access Control Lists</h4>

                    <p ng-repeat="acl in aclList"> {{acl}} </p>
                </div>

                <!-- END OF EDITOR SETTINGS -->


            </div>

        </div>

        <div ng-hide="showTools" style="margin-left:1em;">
            <div style="margin-bottom: 3px;">
            <span>
              <input class="input-box" style="width: 400px; vertical-align: middle;" ng-model="editableTitle"
                     type="text" id="editableTitle">
            </span>

                <span style="display:inline-block; vertical-align: top">
                <button style="height:30px;" ng-click="updateDocument()">Save</button>
            </span>
            </div>
            <br/>
            <textarea id="edit-text" ng-model="editText" ng-keyUp="refreshText()" ng-model="textDirty"
                      ng-init="textDirty=false" style="width:90%;" ng-style="editorHeight"></textarea>
        </div>


    </div>

    <div class="col-md-5">

        <!-- RENDERED TEXT -->
        <div style="margin-left:1em;">
            <h4><a ng-hide="hideParent" ng-click="activateContentsHeading()" ng-href="editdocument/{{parentId}}">{{ parentTitle }}</a></h4>
            <h3>{{ title }}</h3>
            <br/>
            <!-- <div style="width:90%;" ng-if="renderedText()" ng-bind-html="renderedText()" elem-ready="reloadMathJax()" id="rendered_text"></div> -->
            <div elem-ready="reloadMathJax()" ng-show="textKind" style="width:90%;padding-bottom:500px;"
                 ng-bind-html="renderedText()"
                 id="rendered-text"></div>

            <div ng-show="imageKind" class="container fill">
                <img src="{{attachmentUrl}}"/>
            </div>

            <div ng-show="pdfKind" class="container fill">
                <p><a ng-href="{{attachmentUrl}}" target="_blank">Link</a></p>
                <iframe id="pdf-iframe" src={{attachmentUrl}} style="width:300px; height:400px;"><p>Your browser does
                    not support iframes.</p>
                </iframe>

            </div>
        </div>


    </div>

    <div style="position: absolute; bottom:0px; width:95%; margin-left: 4rem; margin-right: 4rem;  padding: 0.5rem; background-color: #eee">
        <span style="margin-left:1rem; font-size: 1.3rem; color=#444">ID: {{documentId}}</span> <span ng-hide="showTools" style="margin-left:10px; font-style: italic">Word count:
        {{wordCount}}, characters: {{documentCharacterCount}}</span>
    </div>

</div>
