<div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-6" style='font-size:16pt; margin-top:1em;'>

        <div ng-controller = "ImageUploadController" >
            
            <h2 style="margin-bottom:1em;">Image/pdf Upload</h2>

            <!--
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" ng-model="formData.title" placeholder="Required">
            </div>
            
            <div class="form-group" style="margin-bottom:2em;">
                <label for="source">Source</label>
                <input type="text" class="form-control" id="source" ng-model="formData.source" placeholder="Optional">
            </div>
            -->


             <input name="file" type="file" file />

             <br/>
             <button ng-click ="upload(file)">Upload   </button>
             <button ng-click="cancel()">Cancel   </button>

            <br><br>

            <p><strong>Option:</strong> Attach to a new document</strong> <input class='floating-box check-box' id="attachToDocument" type="checkbox" ng-model="formData.attach" style="margin-top:12px;" /></p>

            <!--
            <pre>

            {{formData}}
            </pre>
            -->

        </div>


    </div>
</div>