<div class="row">
  <div class="col-md-3" >
    <div style="margin-left:1em;">
        
          
   <form class="form-horizontal" style="margin-top:14px;">
    <div class="form-group" style="margin-left:0;">
      <!-- http://fiddle.jshell.net/lsconyer/bktpzgre/1/light/ -->
      <div ng-controller="ImageSearchController">
        <input class="search-box" ng-enter="doImageSearch(  )" ng-model="searchText" placeholder=" image search ..."/>
      </div>
       <br>
        <button ng-click="randomImages()" style="background-color:#666; color:white; padding:5px 10px; font-size:1.2em;"> Random Images</button>
      <!--<input type="text" class="form-control" id="search" ng-model="search" ng-enter="testFunction()">  -->

    </div>
  </form> 
                    

    <h3 style='margin-top:10px;margin-bottom:30px;'>{{ imageCount }} Images</h3> 
    <div  id="image-toc" style="height:400px; overflow-y: auto;">        
        <div ng-repeat="image in imageList">
            <p stle='margin-bottom:0;'><img src={{image['storage_url']}} width=150 /></p>
            <p style='margin-top:0;margin-bottom:1.5em;'><a href="{{image['url']}}">{{image['id']}}: {{image['title']}}</a></p>
        </div>
    </div>
            

  </div>
  </div>
    
 
  <div class="col-md-4">
    <div style="margin-left:1em;">
    <h2> {{ title }} </h2>
    <div style="margin-left:1em;">
        <h2> {{ title }} </h2>
        <div class="container fill">
          <img ng-hide="pdfMode" src={{imageStorageUrl}} style="max-width:300px;max-height:400px;" />
    
          <iframe ng-show="pdfMode" id="pdf-iframe" src={{pdfImage}} style="width:900px; height:900px;"> 
              
            <p>Your browser does not support iframes.</p>
          </iframe>    
          <p>{{imageId}}: {{imageTitle}}</p>        
        </div>
    </div>


  </div>
</div>    

<div class="col-md-4">

</div>

</div>
