


<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-4"
         style="padding-bottom:70px; margin-top:25px; background-image:url('http://psurl.s3.amazonaws.com/images/jc/blueprint-xx-40-23b9.jpg')">


        <div ng-controller='UserController' style="font-size: 16pt;">
            <p ng-model="signedIn"></p>

            <!-- SIGN OUT FORM -->
            <div ng-show="userStatus == 'signedIn'"
                 style="width:50%; min-width:300px;margin-left:auto; margin-right:auto;">
                <h1><a ng-href="{{homepageUrl}}">{{homepage}}</a></h1>
                <br/>
                <div ng-controller="SignOutController">
                    <button ng-click="signout()">Sign out</button>
                </div>
            </div>
            <!-- END SIGN OUT FORM -->

            <!-- SIGN IN FORM -->
            <div ng-controller="SigninController"
                 style="width:50%; min-width:300px;margin-left:auto; margin-right:auto;">
                <div ng-hide="userStatus == 'signedIn'">
                    <h1>Sign in</h1>
                    <br>

                    <form ng-submit="submit()">

                        <div class="form-group">
                            <label for="username">User name</label>
                            <input type="text" class="form-control" id="username" ng-model="username"
                                   placeholder="At least four characters">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password" ng-model="password"
                                   placeholder="At least eight characters">
                        </div>

                        <br>
                        <input type="submit" id="submit" value="Sign in" class="btn btn-default"/>
                    </form>

                    <br/><br/>
                    <p style='font-size: 1.5em'> {{ message }} </p>
                    <p style='font-size: 1.25em'><a href="signup"><i class="fa fa-signup"></i>Need an account?</a></p>
                </div>
            </div>
            <!-- /SIGN IN FORM -->

        </div>

    </div>

    <div class="col-md-7">

        <div style="margin-left:40px">
            <h3>Manuscripta.io</h3>
            <div style="">

                <p style="max-width:30em;">
                    Manuscripta.io is a site for lecture notes, problem sets, technical documentation, and suchlike.
                    A way to share knowledge. To put your material online, just <a href="/signup">sign up</a>
                    for a free account. (We are still in the beta test and would love your feedback.)
                <p>
                </p>

            </div>

            <br>

            <div>
                <h3>Selected links</h3>
                <p class="compact"><a href="/documents/jc.qft?toc">Lectures on Quantum Field Theory</a></p>
                <p class="tail"><a href="http://www.manuscripta.io/documents/156?toc">\(\overline{M_{0,n}}\) and Friends</a></p>

                <p class="compact"><a href="/documents/jc.manuscripta_user_manual">Manuscripta User Manual</a></p>
                <p class="compact"><a href="/documents/jc.asciidoc_guide">Asciidoc Guide</a></p>

            </div>

            <br>
            <br>
            <div style="max-width:30em;">

                <p><a href="/signup">Sign up</a> for a Manuscripta.io account to create and
                    publish your own documents.  You can now
                    <a href="http://www.manuscripta.io/documents/263">export documents to LaTeX.</a></>

                <br>
                <p>Questions? Bugs? Feedback? Contact jxxcarlson at gmail</p>

            </div>

        </div>

    </div>

</div>

