<div class="row" style="height:1000px; background-image:url('http://psurl.s3.amazonaws.com/blueprint-xx-40.jpg');">

    <div class="col-md-6">

        <br/>
        <div ng-controller='UserController' style="font-size: 16pt;">
            <p ng-model="signedIn"></p>

            <!-- SIGN OUT FORM -->
            <div ng-show="userStatus == 'signedIn'" style="width:50%; min-width:300px;margin-left:auto; margin-right:auto;">
                <h1>Signed in as {{username}}</h1>
                <br />
                <div ng-controller="SignOutController">
                    <button ng-click="signout()">Sign out</button>
                </div>
            </div>
            <!-- END SIGN OUT FORM -->

            <!-- SIGN IN FORM -->
            <div ng-controller="SigninController" style="width:50%; min-width:300px;margin-left:auto; margin-right:auto;">
                <div ng-hide="userStatus == 'signedIn'">
                    <h1>Sign in</h1>
                    <br>

                    <form ng-submit="submit()">

                        <div class="form-group">
                            <label for="username">User name</label>
                            <input type="text" class="form-control" id="username" ng-model="username" placeholder="At least four characters">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password" ng-model="password" placeholder="At least eight characters">
                        </div>

                        <br>
                        <input type="submit" id="submit" value="Sign in" class="btn btn-default" />
                    </form>

                    <br/><br/>
                    <p style='font-size: 1.5em'> {{ message }} </p>
                    <p style='font-size: 1.25em'><a href="signup"><i class="fa fa-signup"></i>Need an account?</a></p>
                </div>
            </div>
            <!-- /SIGN IN FORM -->

        </div>

    </div>

    <div class="col-md-6" >


        <div style="margin-top:60px;">

            <p style="max-width:20em;">
                Manuscripta.io is a site for lecture notes, problem sets, technical documentation, and suchlike.
                A way to share knowledge.  To put your material online, just <a href="/signup">sign up</a>
                for a free account.  (We are still in the beta test and would love your feedack.)<p>
            </p>

        </div>

        <div>
            <h3>Selected links</h3>
            <p><a href="/documents/jc.qft">Lectures on Quantum Field Theory</a></
            <p><a href="/documents/system.user_manual">Manuscripta User Manual</a></

        </div>

        <div style="margin-top:60px;">


            <p>Questions?  Feedback? Contact jxxcarlson at gmail</p>

        </div>



    </div>

</div>

